@use '../../styles/index.scss';

.to-do__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
        letter-spacing: 10px;
        font-size: 40px;
        color: index.$very-light-gray;
    }
}

.to-do__header__icon .theme-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: white;
}


